.settings .settings__section {
  border-top: 1px solid #f7f7f7;
  padding-top: 32px;
}

.settings__setting .settings__icon {
  font-size: 20px;
  margin-right: 24px;
}

.settings__setting .settings__title {
  font-size: 16px;
}

.settings .settings__setting {
  margin-bottom: 32px;
}

.settings .settings__setting:last-child{
    margin-bottom: 40px;
}